@import "./variables.scss";

.book-card {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  padding: $spacing-md;
  border-radius: $border-radius-md;
  background: rgba(255,255,255,0.02);
  border: 1px solid $color-border-light;

  & .card__title {
    font-size: $font-size-lg;
    color: $color-text-primary;
  }

  & .card__content {
    font-size: $font-size-sm;
    color: $color-text-secondary;
  }

  & .card__actions {
    display: flex;
    gap: $spacing-sm;
    margin-top: $spacing-md;

    .btn {
      min-width: 84px;
    }
  }
}
